.navbarStyle{
    list-style-type: none;
    margin: 0px;
    padding: 15px;
    overflow: hidden;
    background-color: white;
    border: none;
}

.listStyle{
    float: right; 
}

.OpenBookStyle .logo{
    float: left; 
    color: #68B0AB;
    font-weight: 600;
}

.pageStyle{
    display: block;
    color: #696D7D;
    text-align: center;
    font-weight: 400;
    padding: 14px 16px;
    text-decoration: none;
}

.search-bar{
    color: #696D7D; 
    border:#696D7D solid 1px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    height: 20px;
}

div.search.pageStyle{
    display: block;
    color: #696D7D;
    text-align: center;
    font-weight: 400;
    padding: 10px 16px;
    text-decoration: none;
}

/*.search-icon{
    color: #696D7D;
    align-self: center;
    padding: 5px;
}*/

.pageStyle:hover{
    color: #68B0AB;
}

.pageStyle:active{
    color: #68B0AB;   
}